%h2 ユーザー情報登録
= form_for(@user, url: user_registration_path) do |f|
  = render "devise/shared/error_messages", resource: @user
  .field
    = f.label :nickname
    %br/
    = f.text_field :nickname
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field
    = f.label :first_name_rattle
    %br/
    = f.text_field :first_name_rattle
  .field
    = f.label :last_name_rattle
    %br/
    = f.text_field :last_name_rattle
  .field
    = f.label :birthyear
    %br/
    = f.number_field :birthyear
  .field
    = f.label :birthmonth
    %br/
    = f.number_field :birthmonth
  .field
    = f.label :birthday
    %br/
    = f.number_field :birthday
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "Next"
= render "devise/shared/links"
