%h2 住所情報登録
= form_for @address do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :zipcode
    %br/
    = f.text_field :zipcode
  .field
    = f.label :prefecture
    %br/
    = f.text_field :prefecture
  .field
    = f.label :first_address
    %br/
    = f.text_field :first_address
  .field
    = f.label :second_address
    %br/
    = f.text_field :second_address
  .field
    = f.label :third_address
    %br/
    = f.text_field :third_address
  .actions
    = f.submit "Next"
= render "devise/shared/links"
