%h2 電話番号
= form_for @phone_number do |f|
  = render "devise/shared/error_messages", resource: @phone_number
  .field
    = f.label :phone_number
    %br/
    = f.text_field :phone_number
  .actions
    = f.submit "Next"
= render "devise/shared/links"
