.purchase-main
  .purchase-header
    .purchase-header__block
      = render 'items/subheader'
  //ボディーの部分
  .purchase-body
    .purchase-body__list
      .purchase-body__verification
        購入内容の確認
      .purchase-body__payment
        = image_tag "fuku.jpg", size: "80x80"
        .purchase-body__payment__info
          .purchase-body__payment__info__brand
            購入商品の名前
          .purchase-body__payment__info__money
            ¥11,111 (税込)送料込み
      .purchase-body__total
        .purchase-body__total__price
          支払い金額
        .purchase-body__total__moeny2
          ¥11,111
      .purchase-body__checkbox
        = check_box_tag :test1
        = label_tag :test1, "ポイントを使用(所持ポイント:P0)" 
      .purchase-body__total2
        .purchase-body__total2__method
          支払い方法
        .purchase-body__total2__register
          .purchase-body__total2__register__link__word
            登録してください
      .purchase-body__delivery
        .purchase-body__delivery__area
          配送先
        = link_to "#", class: "purchase-body__delivery__change" do
          変更する
      .purchase-body__address
        〒000-0000
        %br
        神奈川県川崎市宮前区５−５−５
        %br
        福留 稔也
      .purchase-body__buy
        .purchase-body__buy__btn
          購入する
  = render 'items/subfooter'